@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');

@theme{
  --font-family: 'Roboto', sans-serif;

  --breakpoint-xs: 320px;
}


.container1{
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
}